#gridDiv {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 7%;
    height: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.title {
    font-weight: bold;
    font-size: 30px;
}
.subtitle {
    font-style: italic;
}
.body {
    margin-top: 10px;
    text-align: justify;
}
.s {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}
.s:hover {
    background-color: #dcdcdc;
}
.container_options {
    display: none;
    right: 0;
    position: absolute;
    top: 30px;
    width: 220px;
    height: fit-content;
    background-color: #454d56;
    color: white;
    right: 22px;
    bottom: -34px;
    border-radius: 10px;
    padding: 15px 10px 5px 10px;
}
#title_text_divider {
    width: 95%;
    background-color: black;
}
.username-div {
    border-top: 1px solid black;
    padding: 20px 0 15px 15px;
    text-align: center;
    color: black;
    width: 95%;
    margin: auto;
}
.options_container {
    position: absolute;
    right: 2.5%;
    top: 18px;
    font-size: 25px;
}
#gridDiv {
    margin: auto;
    height: 100%; 
    padding-bottom: 33%; 
    text-align: center;
    width: 90%;
}
.note_options_opener {
    cursor: pointer;
    color: #0077ff;
}
.single_option {
    margin-bottom: 10px;
}
.button_option {
    width: 100%;
}
.heading-note {
    color: #41c0e7;
    text-align: left;
}